body {
  background-color: #e6e6fa;
  /*width: 800px;
  margin: auto;*/
}
/*
Intro/Splash Screen
*/
/*#intro {
  padding: 50px;
  background-color: #00acc1;
  position: absolute;
  height: 300px;
  width: 700px;
  top: 20px;
  z-index: 10;
  border-color: black;
  border: 2px;
  border-radius: 5px;
  /*opacity: .7;*/
  transition: opacity 3500ms linear;
}

button#exit-intro {
  background-color: #c9bc1f;
  border-radius: 10px;
  height: 50px;
  margin: auto;
  font-size: 20px;
  display: block;
  position: relative;
  top: 10%;
  transition: transform 300ms ease-out, background-color 300ms ease-out;
  width: 25%;

}

button#exit-intro:hover {
  transform: scale(1.05);
  background-color: blue;
}

button#exit-intro:hover {
  display:hidden;
}
/*
/*
Styling links
*/
a {
  color: white;
  text-decoration-line: none;
}

a:hover {
  background-color: yellow;
}

#chart-holder {
  /*position: relative;*/
  left: auto;
  right: auto;
  /*width: 800px;*/
  /*height: 600px;*/
  margin: 10px;
}

img {
  position: relative;
  left: auto;
  right: auto;
}
.hidden{
  display:none;
}

.fade-away {
  opacity: 0.0;
}

#about {
  display: none;
}

/*****
**Menu
*****/
#flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

#menu {
  display: flex;
  flex-direction: row;
}

.menu-item {
  display: flex;
  flex: 1 2 calc(33% - 1px);
  padding: 10px 10px 0px 0px;
}

/*
Material for the visualization
*/

#crashviz {
  overflow: visible;
  display: flex;
}

#chart-holder {
  width: auto;
  height: auto;
}

/*#map-holder {
  width: auto;
  height: auto;
}*/

  .bar-chart {
    /*stroke: green;*/
    width: 700px;
    height: auto;
    position: relative;
  }

  #chart-holder svg {
  /*padding: 50px;*/
  width: 1400px;
  height: 1100px;
  }

  text {
    font: 10px sans-serif;
    text-anchor: middle;
    color: green;
  }
/*
  .arc {
    stroke: #fff;
    fill: "black";
  }

  .axis {
    color: white;
    stroke: white;
  }
*/

/*
*footer
*/
footer {
  display: flex;
  justify-content: flex-end;
}

footer .material-icons {
  /*float: right;*/
  color: #99aa00;
  padding: 10px;
}

.material-icons:hover {
  transform: scale(1.20);
}
