body {
  background-color: #e6e6fa;
  /*width: 800px;
  margin: auto;*/
}
/*
Intro/Splash Screen
*/
/*#intro {
  padding: 50px;
  background-color: #00acc1;
  position: absolute;
  height: 300px;
  width: 700px;
  top: 20px;
  z-index: 10;
  border-color: black;
  border: 2px;
  border-radius: 5px;
  /*opacity: .7;
  transition: opacity 3500ms linear;
}
*/

  #intro {
    display: none;
  }
button#exit-intro {
  background-color: #c9bc1f;
  border-radius: 10px;
  height: 50px;
  margin: auto;
  font-size: 20px;
  display: block;
  position: relative;
  top: 10%;
  transition: transform 300ms ease-out, background-color 300ms ease-out;
  width: 25%;
}

button#exit-intro:hover {
  transform: scale(1.05);
  background-color: blue;
}

button#exit-intro:hover {
  display:hidden;
}
/*
/*
Styling links
*/
a {
  color: white;
  text-decoration-line: none;
}

a:hover {
}

img {
  position: relative;
  left: auto;
  right: auto;
}
.hidden{
  display:none;
}

.fade-away {
  opacity: 0.0;
}

#about {
  display: none;
}

/*****
**Menu
*****/
#flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

#menu {
  display: flex;
  flex-direction: row;
}

.menu-item {
  display: flex;
  flex: 1 2 calc(33% - 1px);
  padding: 10px 10px 0px 0px;
}

/*
 * Rules for visualization
*/

#crashviz {
  overflow: visible;
  display: flex;
}

#chart-holder {
  width: 1000px;
  height: 900px;
}

/*#map-holder {
  width: auto;
  height: auto;
}*/

#chart-holder svg {
  padding: 50px;
  width: 1000px;
  height: 900px;
}

.stacked-bars {
  padding: 0px 50px;
  left: 50px;
}

text {
  font: 10px sans-serif;
  color: green;
  }

/*
*footer
*/
footer {
  display: flex;
  justify-content: flex-end;
}

footer .material-icons {
  color: #ff33ff;
  padding: 10px;
}

.material-icons:hover {
  transform: scale(1.20);
}
